.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

.sidebar .profile {
    width: 100%;
    padding: 10px;
}

.sidebar .profile img {
    width: 60px;
    height: 60px;
}

.sidebar-list {
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-item:hover {
    background-color: #4f5c8d;
    color: var(--text-light)
}

.sidebar-item.dark:hover {
    background-color: #5162a575;
    color: var(--text-dark);
}

.sidebar-item.active {
    background-color: var(--active);
}

.sidebar-item.active:hover {
    background-color: var(--active);
}